{% extends "encyclopedia/layout.html" %}

{% block body %}
    <h1>Edit Entry:</h1>
    <form action="{% url 'save_edit' %}" method="post">
        {% csrf_token %}
        <label>Title:</label>
        <br/>
        <input type="text" name="title" placeholder="Enter a title" value="{{ title }}">
        <br/>
        <label>Entry:</label>
        <br/>
        <textarea name="entry" placeholder="Enter a content">{{ entry }}</textarea>
        <br/>
        <br/>
        <input type="submit" value="Submit" class="btn btn-primary">
        <a class="btn btn-dark" href="{% url 'index' %}" role="button">View Entries</a>
    </form>
{% endblock %}