{% extends "encyclopedia/layout.html" %}
{% load markdownify %}

{% block title %}
    {{ title }} - Wiki
{% endblock %}

{% block body %}
    <div>{{ content|markdownify }}</div>
    <form action="{% url 'edit' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="title" value="{{ title }}">
        <input type="hidden" name="entry" value="{{ entry }}">
        <input type="submit" value="Edit" class="btn btn-primary">
        <a class="btn btn-dark" href="{% url 'index' %}" role="button">View Entries</a>
    </form>
{% endblock %}