{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <script src="{% static 'network/index.js' %}"></script>
        <script src="https://kit.fontawesome.com/db22880baf.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a id='brand' class="navbar-brand" href="{% url 'index' %}">Network</a>
          
            <div>
              <ul class="navbar-nav w-100">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a id='user' class="nav-link mx-3 my-3" href="{% url 'user_page' username=user.username %}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a id="all" class="btn btn-primary mx-3 my-3" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <button id="new" class="btn btn-outline-primary mx-3 my-3">New Post</button>
                    </li>
                    <li class="nav-item">
                        <a id="following" class="btn btn-outline-primary mx-3 my-3" href="{% url 'following' %}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-danger my-3 mx-3" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-outline-primary mx-3 my-3" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary mx-3 my-3" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>